.notification-container{
position:relative;
margin-right:20px;
cursor:pointer;
}

.notification-icon{
--sds-c-icon-color-foreground-default:white;
}

.notification-badge{
position:absolute;
top:-6px;
right:-8px;
background:red;
color:white;
font-size:10px;
padding:2px 6px;
border-radius:50%;
}

.notification-dropdown{
position:absolute;
top:70px;
right:140px;
width:260px;
background:white;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
max-height:300px;
overflow:auto;
z-index:999;
}

.notification-item{
padding:12px;
border-bottom:1px solid #eee;
font-size:13px;
cursor:pointer;
}

.notification-item:hover{
background:#f4f6f9;
}

.profile-container{
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
}

.profile-info{
display:flex;
flex-direction:column;
color:white;
}

.profile-name{
font-size:14px;
font-weight:600;
}

.profile-role{
font-size:12px;
opacity:0.8;
}